.wrapper {
  width: 80px;
  height: 400px;
  display: flex;
  margin-right: 50px;
  align-items: flex-start;
}

.content {
  width: 80px;
  color: #6c6c6c;
  line-height: 40px;
  display: flex;
  transition-duration: 0.3s;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  img {
    position: relative;
    left: -5px;
  }

  a {
    width: fit-content;
    transition-duration: 0.3s;
    &:hover {
      color: white;
      transition-duration: 0.3s;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 200px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    display: flex;
  }
  .content {
    display: block;
    width: 200px;
    align-items: center;
    position: absolute;
    left: -10px;

    img {
      display: none;
    }

    a {
      margin-right: 10px;
      height: fit-content;
    }
  }
}
