.wrapper {
  width: 150px;
  height: 400px;
  display: flex;
  align-items: flex-start;
}

.content {
  width: 150px;
  color: #6c6c6c;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  transition-duration: 0.3s;
  cursor: pointer;

  a {
    width: fit-content;
    transition-duration: 0.3s;
    &:hover {
      width: fit-content;
      color: white;
      transition-duration: 0.3s;
    }
  }
}
